
.login {
  width: 100%;
  height: 100vh;
  background-color: #282c2f;
  box-sizing: border-box;
}
.van-nav-bar {
  background-color: transparent;
}
[class*="van-hairline"]::after {
  border: none;
}
h1 {
  margin: 0 16px;
  color: white;
}
.van-cell {
  background-color: #3c3f48;
}
.van-cell::after {
  border: none;
}
.van-form {
  margin-top: 3em;
}
.van-checkbox__label> .aaaa {
    color: #ccc;
}
.van-cell {
  margin: 10px auto;
  width: 90%;
}
.van-tabbar {
  background-color: transparent;
}


